div.container {
    justify-content: space-evenly;
}
.container {
    padding: 5% 5% 10% 5%;

    .welcome-card {
        align-self: center;
    }
}

.post-card {
    margin-bottom: 5px;
}

mat-card-header {
    margin: 0;
}

.fire {
    color: rgb(235, 61, 8);
}

.top-tips {
    display: flex;
    align-items: center;
}

.like-button {
    color: #4b9cd3;
}

.bookmark-button {
    margin-top: 20px;
    background-color:  #4b9cd3;
    color: white;
}