.container {
    margin: 2% 10% 2% 10%;
}

mat-card {
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

.title {
    text-align: center;
    margin-bottom: 20px;
} 

.like-container {
    display: flex;
}

.like-button {
    color: #4b9cd3;
}

.bookmark-button {
    color:  #13294B;
}

.like-count {
    align-self: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}