<div class="container">
    <div class="title mat-display-2">{{dept | uppercase}} {{class}}</div>
    <mat-card *ngFor="let post of posts" class="example-card">
        <mat-card-header>
            <mat-card-title>{{post.title}}</mat-card-title>
            <mat-card-subtitle>By {{post.author}} | {{post.created | date: 'fullDate'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              {{post.body}}
            </p>
          </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button><mat-icon>favorite_border</mat-icon></button>
            <button *ngIf="post.authorId === currUser.id" mat-icon-button ><mat-icon>edit</mat-icon></button>
            <button *ngIf="post.authorId === currUser.id" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>