<section id="main">
    <div class="title">
        <h1>Heel Tips</h1>
        <p>Your place to succeed at UNC</p>
        <a href="login" mat-raised-button class="login">Login</a>
        <a href="register" mat-raised-button class="register">Register</a>
    </div>
</section>
<section id="about">
    <div class="about-title">
        <h3>About Heel Tips</h3>
    </div>
    <div><p>Heel Tips is a place where students can provide their strategies and tips on the courses they have taken. In a world of Covid-19, many students find themselves in difficult situations. This app is designed to reduce their stress and to help students find effective ways to study from their peers</p></div>
</section>