.navbar {
    justify-content: space-between;
}

span {
    margin-right: 1rem;
}


mat-toolbar {
    background-color: #4b9cd3;
    // background-color: -webkit-linear-gradient();
    color: white;
}