.navbar {
    justify-content: space-between;
}

span {
    margin-right: 1rem;
}

.container mat-card{
    padding: 0px;
}

.form {
    padding: 20px;
}

.create-account {
    padding-top: 20px;
}

mat-toolbar {
    background: #4b9cd3;
    color: white;
}