mat-card-title {
    text-align: center;
    margin: 0 auto;
}

.container {
    margin: 5% 20% 2% 20%;
}

.save-button {
    width: 10em; 
    background-color: #4b9cd3; 
    color: white; 
    margin-right: 10px
}

.cancel-button {
    width: 10em; 
    color: white
}